<div style="overflow: hidden;">
<div class="row" style="margin-left: 20px;margin-top: 100px;">
    <div  class="col-sm-12" id="title">
        Videos
    </div>
</div>
<div #videoPanel style="margin-left: 40px;margin-top: 30px; display: flex; overflow-x: auto; z-index: 0;">
    <div style="margin-right: 20px;">
        <img src="../../../assets/info-1.png" style="width: 120px;  z-index: 0;">
        <div style="width: 120px; height:50px; border-bottom-left-radius: 12px;  border-bottom-right-radius: 12px; background-color: #d3eff0;">
            <div style="padding-top:20px; text-align: center;font-family: 'Cabin', sans-serif;" >Mortgage mistakes</div>
        </div>
    </div>
    <div style="margin-right: 20px;">
        <img src="../../../assets/info-2.png" style="width: 120px;  z-index: 0;">
        <div style="width: 120px; height:50px; border-bottom-left-radius: 12px;  border-bottom-right-radius: 12px; background-color: #FEF0F0;">
            <div style="padding-top:20px; text-align: center;font-family: 'Cabin', sans-serif;" >Rent or Buy?</div>
        </div>
    </div>
    <div style="margin-right: 20px;">
        <img src="../../../assets/info-1.png" style="width: 120px;  z-index: 0;">
        <div style="width: 120px; height:50px; border-bottom-left-radius: 12px;  border-bottom-right-radius: 12px; background-color: #d3eff0;">
            <div style="padding-top:20px; text-align: center;" ></div>
        </div>
    </div>
    <div>
        <img src="../../../assets/next.png" style="margin-left:-130px;margin-top:55px;width: 50px; position: absolute; z-index: 1; opacity: 0.5;">
    </div>
</div>

<div class="row" style="margin-left: 20px;margin-top: 30px;">
    <div  class="col-sm-12" id="title">
        Podcasts
    </div>
</div>
<div #videoPanel style="margin-left: 40px;margin-top: 30px; display: flex; overflow-x: auto; z-index: 0;">
    <div style="margin-right: 20px;">
        <img src="../../../assets/info-4.png" style="width: 120px;  z-index: 0;">
        <div style="width: 120px; height:50px; border-bottom-left-radius: 12px;  border-bottom-right-radius: 12px; background-color: #d3eff0;">
            <div style="padding-top:20px; text-align: center;font-family: 'Cabin', sans-serif;" >Mortgage Porting</div>
        </div>
    </div>
    <div style="margin-right: 20px;">
        <img src="../../../assets/info-5.png" style="width: 120px;  z-index: 0;">
        <div style="width: 120px; height:50px; border-bottom-left-radius: 12px;  border-bottom-right-radius: 12px; background-color: #FEF0F0;">
            <div style="padding-top:20px; text-align: center;font-family: 'Cabin', sans-serif;" >Mortgage Penalty</div>
        </div>
    </div>
    <div style="margin-right: 20px;">
        <img src="../../../assets/info-4.png" style="width: 120px;  z-index: 0;">
        <div style="width: 120px; height:50px; border-bottom-left-radius: 12px;  border-bottom-right-radius: 12px; background-color: #d3eff0;">
            <div style="padding-top:20px; text-align: center;" ></div>
        </div>
    </div>
    <div>
        <img src="../../../assets/next.png" style="margin-left:-130px;margin-top:55px;width: 50px; position: absolute; z-index: 1; opacity: 0.5;">
    </div>
</div>


<div class="row" style="margin-left: 20px;margin-top: 30px;">
    <div  class="col-sm-12" id="title">
        Articles
    </div>
</div>
<div #videoPanel style="margin-left: 40px;margin-top: 30px; display: flex; overflow-x: auto; z-index: 0;">
    <div style="margin-right: 20px;">
        <img src="../../../assets/info-7.png" style="width: 120px;  z-index: 0;">
        <div style="width: 120px; height:50px; border-bottom-left-radius: 12px;  border-bottom-right-radius: 12px; background-color: #d3eff0;">
            <div style="padding-top:20px; text-align: center;font-family: 'Cabin', sans-serif;" >Mortgage Porting</div>
        </div>
    </div>
    <div style="margin-right: 20px;">
        <img src="../../../assets/info-8.png" style="width: 120px;  z-index: 0;">
        <div style="width: 120px; height:50px; border-bottom-left-radius: 12px;  border-bottom-right-radius: 12px; background-color: #FEF0F0;">
            <div style="padding-top:20px; text-align: center;font-family: 'Cabin', sans-serif;" >Mortgage Penalty</div>
        </div>
    </div>
    <div style="margin-right: 20px;">
        <img src="../../../assets/info-7.png" style="width: 120px;  z-index: 0;">
        <div style="width: 120px; height:50px; border-bottom-left-radius: 12px;  border-bottom-right-radius: 12px; background-color: #d3eff0;">
            <div style="padding-top:20px; text-align: center;" ></div>
        </div>
    </div>
    <div>
        <img src="../../../assets/next.png" style="margin-left:-130px;margin-top:35px;width: 50px; position: absolute; z-index: 1; opacity: 0.5;">
    </div>
</div>
</div>
