<div class="container" style="overflow: hidden;">
    <div class="space-between-title"></div>
    
    <div style="float: left; margin-left:1rem;">
        <img src="../../../assets/Icon-Back Arrow.svg" class="center-element" (click)="backPage()"/>
    </div>
    <div style="float: right;margin-right: -6rem;margin-left: 4rem;margin-top: -6rem;">
        <img src="../../../assets/Circle.png" class="center-element" />
    </div>
    <div class="space-between-title"></div>
    <div class="space-between-title"></div>
    <div class="space-between-title" style="text-align-last: center;font-family: Avenir-Heavy;color: #595959;">
        <p>7 of 7</p>
    </div>

    <div class="H2" style="margin-left: 0.9rem; text-align-last: center;">
        Dept Payments
    </div>
   
    <div style="height: 32rem;padding-top: 2rem;">
        
    </div>

    <div class="space-between-title"></div>
    <div class="space-between-title" style="height: 6rem;"></div>

    <div class="row">
      <div>
          <button id="get-started-button" class="center-element" (click)="nextPage()" >Next <img src="../../../assets/Icon-Back Arrow-white.svg" style="margin-bottom: 0.2rem;margin-left: 0.5rem; width: 1.5rem;transform: rotate(180deg);"></button>
      </div>
    </div>
    <div class="space-between-title">
    </div>
  </div>
  