<div class="container" style="overflow: hidden;">
    <div class="space-between-title"></div>
    <div style="float: left; margin-left:1rem;">
        <img src="../../../assets/Icon-Back Arrow.svg" class="center-element" (click)="backPage()" />
    </div>

    <div style="float: right;margin-right: -6rem;margin-left: 4rem;margin-top: -6rem;">
        <img src="../../../assets/Circle.png" class="center-element" />
    </div>

    <div class="space-between-title"></div>
    <div class="space-between-title"></div>
    <div class="space-between-title" style="text-align-last: center; font-family: 'Cabin', sans-serif; font-size: 14px; color: #595959;">
        <p>7 of 7</p>
    </div>

    <div class="H2" style=" text-align-last: center;">
        Confirmation and Signature
    </div>
    <div style="margin-top:3rem;overflow-y: auto; height: 230px; width: 70%; border: 1px solid #999494; border-radius: 4px;" class="center-element">
       <div style="overflow-y: auto;  margin-left: 1rem; margin-right: 1rem; margin-top: 1rem; text-align: justify;" id="conditions">
        <div style="margin-bottom: 1rem;">
            Trademarks including Straka Mortgage Team are owned by Strata Financial and Licensed to its subsidary corporations.
        </div>
        <div style="margin-bottom: 1rem;">
            This publication may contain forward-looking statements. Forward-looking statements are stat that are predictive in nature,
            that depend upon or refer to future events or conditions, or that include words such as or similar to, "expects", "anticipates",
            "believes" or negative versions thereof.      
        </div>
        <div style="margin-bottom: 1rem;">
            This publication may contain forward-looking statements. Forward-looking statements are stat that are predictive in nature,
            that depend upon or refer to future events or conditions, or that include words such as or similar to, "expects", "anticipates",
            "believes" or negative versions thereof.       
        </div>
       </div>
    </div>

    <div class="row"   style="margin-top: 3rem;" >
        <div  class="center-element">
            <div class="H2" style=" text-align-last: center;">
                Sign here
            </div>
            <signature-pad #signaturePad [options]="signaturePadOptions" class="center-element" style="border: 1px solid #999494; width:160px; height: 80px; border-radius: 4px;" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
            <div class="col-sm-12">
                <div id="undo-icon" style="margin-left:21rem; margin-top: 1rem;" (click)="clearSignature()">
                    <i class="fas fa-undo size: 10px" ></i>
                    CLEAR
                </div>
            </div>
            <div  style="width: 30rem; border-bottom: 2px solid black; opacity: 0.3; margin-top: 1.5rem;" class="center-element">
            </div>
        </div>
    </div>
    
    <div class="space-between-title"></div>
    <div class="space-between-title" style="height: 1rem;"></div>
    <div class="row">
      <div  class="center-element">
          <button id="get-started-button" (click)="nextPage()">Submit <img src="../../../assets/Icon-Back Arrow-white.svg" style="margin-bottom: 0.2rem;margin-left: 0.5rem; width: 1.5rem;transform: rotate(180deg);"></button>
      </div>
    </div>

  </div>
