<div id="login-page" class="container" style="overflow-y: hidden;">
    <div class="space-between-title"></div>
    <div style="float: right;margin-right: -6rem;margin-left: 4rem;margin-top: -10rem;">
        <img src="../../../assets/Circle.png" class="center-element" />
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="space">
            </div>
            <div>
            <img src="../../../assets/Home Image.png" class="center-element" />
            </div>
        </div>
    </div>
    <div class="space-between-title">   
    </div>
    <div class="row">
          <div id="login-title">
              Login
          </div>
    </div>
    <div class="small-space">  
    </div>
    <form [formGroup]="loginForm">
        <div class="center-input" style="height: 50px;" >
            <input [ngClass]="{'invalid-login-class': invalidLogin==true}" id="username-div" required type="email" placeholder="Email" formControlName="username">
        </div>
        <div  class="center-input" style="height: 50px;" >
            <input [ngClass]="{'invalid-login-class': invalidLogin==true}" id="password-div" required type="password" placeholder="Password" formControlName="password">
            <div style="margin-top: 1rem;">  
            </div>
            <div id="forgot-pass-div" class="col-sm-2">
                Forgot password?
            </div>
        </div>
        <div class="center-input login-space">
            <button id="login-btn" (click)="loginUser()">
                Login
            </button>
        </div>
    </form> 
    <div class="new-user-div"  style="margin-top: 20px; margin-left: 12rem;">
      <div id='new-user'>New user? </div>  <div id="sign-up"> Sign Up</div>
    </div>
    <div class="center-input"   [ngClass]="{'invalid-credentials-class': invalidLogin==true, 'invalid-credentials-hidden': invalidLogin==false}" >
        Invalid credentials!
    </div>

</div>
