<div id="login-page" class="container">
    <div class="space-between-title"></div>
    <div style="float: right;margin-right: -6rem;margin-left: 4rem;margin-top: -6rem;">
        <img src="../../../assets/Circle.png" class="center-element" />
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="space">
            </div>
            <div>
            <img src="../../../assets/Home Image.png" class="center-element" />
            </div>
        </div>
    </div>
    <div class="space-between-title">   
    </div>
    <div class="row">
          <div id="login-title">
              Login
          </div>
    </div>
    <div class="small-space">   
    </div>
        <div class="center-input" style="height: 50px;" >
            <mat-form-field id="username-div">
                <input matInput class="center-input">
             </mat-form-field>
        </div>


        <div  class="center-input" style="height: 50px;" >
            <mat-form-field id="password-div">
            <input matInput>
            </mat-form-field>
        </div>

</div>
