<div class="container" style="overflow: hidden;">
    <div class="space-between-title"></div>
    
    <div style="float: left; margin-left:1rem;">
        <img src="../../../assets/Icon-Back Arrow.svg" class="center-element" (click)="backPage()"/>
    </div>
    <div style="float: right;margin-right: -6rem;margin-left: 4rem;margin-top: -6rem;">
        <img src="../../../assets/Circle.png" class="center-element" />
    </div>
    <div class="space-between-title"></div>
    <div class="space-between-title"></div>
    <div class="space-between-title" style="text-align-last: center;font-family: 'Cabin', sans-serif; font-size: 16px;color: #595959;">
        <p>4 of 7</p>
    </div>

    <div class="H2" style="margin-left: 0.9rem; text-align-last: center;">
        Add one or more locations for your house
    </div>
   
    <div style="height: 32rem;padding-top: 2rem;">
        <div style="display: flex;">
            <input #box class="question-input" value="">
            <div (click)="unblockInput('1')" style="background-color: #9E9AB6;opacity: 0.52;width: 5rem; height: 4rem; color: white;text-align: center;padding-top: 0.6rem;font-size: 2rem;">+</div>
        </div>

        <div id="input2" style="display: none;    margin-top: 1.5rem;">
            <input #box class="question-input" value="">
            <div (click)="unblockInput('2')" style="background-color: #9E9AB6;opacity: 0.52;width: 5rem;height: 4rem;color: white;text-align: center;padding-top: 0.6rem;font-size: 2rem;">+</div>
        </div>

        <div id="input3" style="display: none;    margin-top: 1.5rem;">
            <input #box class="question-input" value="">
            <div (click)="unblockInput('3')" style="background-color: #9E9AB6;opacity: 0.52;width: 5rem;height: 4rem;color: white;text-align: center;padding-top: 0.6rem;font-size: 2rem;">+</div>
        </div>

        <div id="input4" style="display: none;    margin-top: 1.5rem;">
            <input #box class="question-input" value="">
            <div (click)="unblockInput('4')" style="background-color: #9E9AB6;opacity: 0.52;width: 5rem;height: 4rem;color: white;text-align: center;padding-top: 0.6rem;font-size: 2rem;">+</div>
        </div>

        <div id="input5" style="display: none;    margin-top: 1.5rem;">
            <input #box class="question-input" style="margin-right: 6.3rem;" value="">
            <!-- <div (click)="unblockInput('3')" style="background-color: #9E9AB6;opacity: 0.52;width: 5rem;color: white;text-align: center;padding-top: 0.6rem;font-size: 2rem;">+</div> -->
        </div>

    </div>

    <div class="row" style="display: flex;" class="center-element">
        <div style="padding-top: 1.2rem;margin-left: 2rem;margin-right: 2rem;">
            <img src="../../../assets/Icon-Bulb.svg" class="center-element" />
          </div>
        <div class="B1" id="first-line-description" style="margin-right: 5rem;">
          Add one or more locations for your future house.
        </div>
    </div>

    
    <div class="space-between-title" style="height: 4.5rem;"></div>

    <div class="row">
      <div class="center-element">
          <button id="get-started-button" class="center-element" (click)="nextPage()" >Next <img src="../../../assets/Icon-Back Arrow-white.svg" style="margin-bottom: 0.2rem;margin-left: 0.5rem; width: 1.5rem;transform: rotate(180deg);"></button>
      </div>
    </div>
    <div class="space-between-title">
    </div>
  </div>
  