<div class="container" style="overflow: hidden;">
    <div class="space-between-title"></div>
    <div style="float: left; margin-left:1rem;">
        <img src="../../../assets/Icon-Back Arrow.svg" class="center-element" (click)="backPage()" />
    </div>

    <div style="float: right;margin-right: -6rem;margin-left: 4rem;margin-top: -6rem;">
        <img src="../../../assets/Circle.png" class="center-element" />
    </div>

    <div class="space-between-title"></div>
    <div class="space-between-title"></div>
    <div class="space-between-title" style="text-align-last: center;font-family: 'Cabin', sans-serif; font-size: 14px;color: #595959;">
        <p>6 of 7</p>
    </div>

    <div class="H2" style=" text-align-last: center;">
        Scan your government ID
    </div>
    <div>
        <img src="../../../assets/Image-Scan.png" class="center-element" style="height: 280px;"/>
    </div>

    <div class="row" style="display: flex;margin-top: 3rem;">
        <div class="col-sm-12" style="display: flex;">
            <div style="padding-top: 3rem;margin-left: 2rem;margin-right: 2rem;">
                <img src="../../../assets/Icon-Bulb.svg" class="center-element" />
            </div>
            <div class="B1  col-sm-4 " id="first-line-description" style="margin-right: 1rem; text-align:justify">
            Your privacy and security are of utmost importance. Using our secure portal is safer 
            than using email to send us documents.
            </div>
        </div>
    </div>
    
    <div class="space-between-title"></div>
    <div class="space-between-title" style="height: 2rem;"></div>
    <div class="row">
      <div class="center-element">
          <button id="get-started-button"  (click)="nextPage()">Next <img src="../../../assets/Icon-Back Arrow-white.svg" style="margin-bottom: 0.2rem;margin-left: 0.5rem; width: 1.5rem;transform: rotate(180deg);"></button>
      </div>
    </div>
    <div class="space-between-title">
    </div>
  </div>
