<div style="width: 37.5rem; height: 81.2rem; background-color: #e9e7e4ad; overflow: hidden; z-index: -1;border: solid;border-color: transparent;border-radius: 3rem;">
    <div style="width: 5.5rem; height: 5.5rem; background-color:  #f4b6c0; border: solid;border-color: transparent;border-radius: 3rem;margin-left: 7rem;margin-top: 7rem;">
        <img src="../../../assets/Icon-House-white.svg" style="margin-left: 0.7rem;width: 3.5rem;margin-top: 0.2rem;">
    </div>

    <div style="width: 5.5rem; height: 5.5rem; background-color:  #f4b6c0; border: solid;border-color: transparent;border-radius: 3rem;margin-left: 24rem;margin-top: -2rem;">
        <img src="../../../assets/Icon-House-white.svg" style="margin-left: 0.7rem;width: 3.5rem;margin-top: 0.2rem;">
    </div>

    <div style="width: 5.5rem; height: 5.5rem; background-color:  #f4b6c0; border: solid;border-color: transparent;border-radius: 3rem;margin-left: 4rem;margin-top: 7rem;">
        <img src="../../../assets/Icon-House-white.svg" style="margin-left: 0.7rem;width: 3.5rem;margin-top: 0.2rem;">
    </div>

    <div style="width: 5.5rem; height: 5.5rem; background-color:  #f4b6c0; border: solid;border-color: transparent;border-radius: 3rem;margin-left: 18rem;margin-top: -5.5rem;">
        <img src="../../../assets/Icon-House-white.svg" style="margin-left: 0.7rem;width: 3.5rem;margin-top: 0.2rem;">
    </div>

    <div style="width: 5.5rem; height: 5.5rem; background-color:  #f4b6c0; border: solid;border-color: transparent;border-radius: 3rem;margin-left: 9rem;margin-top: 6rem;">
        <img src="../../../assets/Icon-House-white.svg" style="margin-left: 0.7rem;width: 3.5rem;margin-top: 0.2rem;">
    </div>

    <div style="width: 5.5rem; height: 5.5rem; background-color:  #f4b6c0; border: solid;border-color: transparent;border-radius: 3rem;margin-left: 27rem;margin-top: -5.5rem;">
        <img src="../../../assets/Icon-House-white.svg" style="margin-left: 0.7rem;width: 3.5rem;margin-top: 0.2rem;">
    </div>

    <div style="width: 5.5rem; height: 5.5rem; background-color:  #f4b6c0; border: solid;border-color: transparent;border-radius: 3rem;margin-left: 5rem;margin-top: 7rem;">
        <img src="../../../assets/Icon-House-white.svg" style="margin-left: 0.7rem;width: 3.5rem;margin-top: 0.2rem;">
    </div>

    <div style="width: 5.5rem; height: 5.5rem; background-color:  #f4b6c0; border: solid;border-color: transparent;border-radius: 3rem;margin-left: 28rem;margin-top: -2.5rem;">
        <img src="../../../assets/Icon-House-white.svg" style="margin-left: 0.7rem;width: 3.5rem;margin-top: 0.2rem;">
    </div>

    <div style="width: 5.5rem; height: 5.5rem; background-color:  #f4b6c0; border: solid;border-color: transparent;border-radius: 3rem;margin-left: 3rem;margin-top: 10rem;">
        <img src="../../../assets/Icon-House-white.svg" style="margin-left: 0.7rem;width: 3.5rem;margin-top: 0.2rem;">
    </div>

    <div (click)="openHouse()" style="width: 5.5rem; height: 5.5rem; background-color:  #f4b6c0; border: solid;border-color: transparent;border-radius: 3rem;margin-left: 22rem;margin-top: -8.5rem;">
        <img src="../../../assets/Icon-House-white.svg" style="margin-left: 0.7rem;width: 3.5rem;margin-top: 0.2rem;">
    </div>

    <div style="width: 31rem; height: 5.5rem; background-color:  #635d86;border: solid;border-color: transparent;border-radius: 4rem; z-index: -1; display: flex; margin-left: 3rem;margin-top: 5.5rem;">
        <img src="../../../assets/Icon-House-white.svg" style="margin-left: 1rem;width: 3rem;margin-top: -0.4rem; margin-right: 1rem;">
        <div style="color: white; margin-top: 1.75rem; font-family: 'Cabin', sans-serif; letter-spacing: 1.06px;font-size: 14px;margin-left: 25px;">Homes in your affordability</div>
        <!-- <img src="../../../assets/Icon-.svg" style="margin-left: 1rem;width: 3rem;margin-top: -0.4rem; margin-right: 1rem;"> -->
    </div>
</div>
<div (click)="closeHouse()" id="bakgroundOpac" style="width: 37.5rem; height: 40rem; background-color: #989595; opacity: 35%; z-index: 90;margin-top: -82rem; display: none;border: solid;border-color: transparent;border-radius: 4rem;"></div>
<div id="house" class="house" style="width: 37.5rem; height: 47rem;position: absolute; background-color: white;z-index: 100; margin-top: -5rem;border: solid;border-color: transparent;border-radius: 2.75rem; display: none;"> 
    <div (click)="closeHouse()" style="width: 3rem; height: 0.75rem; background-color: #989595;border: solid;border-color: transparent;border-radius: 1rem;margin-left: 16rem;margin-top: 0.5rem;"></div>
    <br>
    <div style="margin-left: 2rem;">
        <div style="font-family: 'Cabin', sans-serif;font-size: 20px;letter-spacing: 1.06px;color: #493b9e;">Aurora, Ontario</div>
        <div style="font-family: 'Cabin', sans-serif;font-size: 16px;letter-spacing: 1.06px;color: #595959;">21 Avondale Ave</div>
        <div style="font-family: 'Cabin', sans-serif;font-size: 22px;letter-spacing: 1.06px; color: #84ADAE ;line-height: 35px;">$1,175,000</div>
    </div>
    <div style="width: 32rem; height: 25rem; background-color:#dddee68a;border: solid;border-color: transparent;border-radius: 3rem; margin-left: 2.5rem;margin-top: 2rem;">
        <div style="width: 6rem; height: 3.25rem; background-color: white;border: solid;border-color: transparent;border-radius: 3rem; margin-top: 2rem;margin-left: -2.5rem;">
            <img style="margin-left: 21px; width: 2.5rem;" src="../../../assets/Icon-House.svg">
        </div>

        <div style="display: inline-flex;width: 28rem;">
            <div style="width: 4rem; height: 4rem; background-color: #ff840054;border: solid;border-color: transparent;border-radius: 1.5rem; margin-top: 1.5rem;margin-left: 1.5rem;">
                <img style=" margin-left: 6px;margin-top: 3px;width: 2.3rem;" src="../../../assets/Icon-House-white.svg">
            </div>
            <div style="margin-top: 31px;margin-left: 20px;font-family: 'Cabin', sans-serif;font-size: 14px;letter-spacing: 1.06px;color: #595959;">Bedrooms</div>
            <div  style="margin-top: 31px;margin-left: 20px;font-family: 'Cabin', sans-serif;font-size: 14px;letter-spacing: 1.06px;font-weight: bold;margin-left: auto;">4</div>
        </div>

        <div style="display: inline-flex;width: 28rem;">
            <div style="width: 4rem; height: 4rem; background-color: #ffc0cbc9;border: solid;border-color: transparent;border-radius: 1.5rem; margin-top: 1.5rem;margin-left: 1.5rem;">
                <img style=" margin-left: 6px;margin-top: 3px;width: 2.3rem;" src="../../../assets/Icon-House-white.svg">
            </div>
            <div style="margin-top: 31px;margin-left: 20px;font-family: 'Cabin', sans-serif;font-size: 14px;letter-spacing: 1.06px;color: #595959;">Washrooms</div>
            <div  style="margin-top: 31px;margin-left: 20px;font-family: 'Cabin', sans-serif;font-size: 14px;letter-spacing: 1.06px;font-weight: bold;margin-left: auto;color: #595959;">3</div>
        </div>
        

        <div style="display: inline-flex;width: 28rem;">
            <div style="width: 4rem; height: 4rem; background-color: #1440a85c;border: solid;border-color: transparent;border-radius: 1.5rem; margin-top: 1.5rem;margin-left: 1.5rem;">
                <img style=" margin-left: 6px;margin-top: 3px;width: 2.3rem;" src="../../../assets/Icon-House-white.svg">
            </div>
            <div style="margin-top: 31px;margin-left: 20px;font-family: 'Cabin', sans-serif;font-size: 14px;letter-spacing: 1.06px;color: #595959;">Area</div>
            <div  style="margin-top: 31px;margin-left: 20px;font-family: 'Cabin', sans-serif;font-size: 14px;letter-spacing: 1.06px;font-weight: bold;margin-left: auto;color: #595959;">2,200 Sq. ft</div>
        </div>
    </div>

    <div (click)="openDetails()" style="width: 12rem;height: 4rem;border: solid;border-color: transparent;border-radius: 1.5rem;background-color: #84ADAE;text-align-last: center;padding-top: 0.75rem;color: white;font-family: 'Cabin', sans-serif;font-size: 14px;letter-spacing: 1.06px;margin-left: 12rem;margin-top: 1.75rem;" >View Details</div>
</div>

<div id="details" class="details" style="width: 37.5rem; height: 125rem; background-color: white;z-index: 200; display: none; position: absolute; margin-top: -40rem; border-color: transparent;border-radius: 1.5rem;">
    <div (click)="closeDetails()" style="position: absolute; z-index: 201; width: 3rem; height: 0.75rem; background-color: #989595;border: solid;border-color: transparent;border-radius: 1rem;margin-left: 16rem;margin-top: 1.5rem;"></div>

    <div style="width: 37.5rem; height: 33rem; z-index:200; margin-top: 0.5rem; margin-left: -0.25rem;">
        <img style="width: 100%; height: 100%; border: solid;border-color: transparent;border-radius: 4rem;" src="../../../assets/house_1_1.jpg">
    </div>
    <div style="width: 37.5rem; height: 50rem; z-index: 201; background-color: white; position: absolute; margin-top: -5rem;">
        <div style="margin-left: 2rem; margin-top: 2rem;">
            <div style="font-family: 'Cabin', sans-serif;font-size: 20px;letter-spacing: 1.06px;color: #493b9e;">Aurora, Ontario</div>
            <div style="font-family: 'Cabin', sans-serif;font-size: 16px;letter-spacing: 1.06px;color: #595959;">21 Avondale Ave</div>
            <div style="font-family: 'Cabin', sans-serif;font-size: 22px;letter-spacing: 1.06px; color: #84ADAE ;line-height: 35px;">$1,175,000</div>
        </div>
        <div style="font-family: 'Cabin', sans-serif;font-size: 16px;letter-spacing: 1.06px;color: #595959;padding-left: 2rem; padding-top: 1rem;">New Aurora home with lake views throghout. Brand new appliances with 
        modern eat-in-kitchen. Recently renovated with game countertops and master bath with rainforest shower head w/2 sinks.</div>

        <div style="width: 32rem; height: 25rem; background-color:#dddee68a;border: solid;border-color: transparent;border-radius: 3rem; margin-left: 2.5rem;margin-top: 2rem;">
            <div style="width: 6rem; height: 3.25rem; background-color: white;border: solid;border-color: transparent;border-radius: 3rem; margin-top: 2rem;margin-left: -2.5rem;">
                <img style="margin-left: 21px; width: 2.5rem;" src="../../../assets/Icon-House.svg">
            </div>
    
            <div style="display: inline-flex;width: 28rem;">
                <div style="width: 4rem; height: 4rem; background-color: #ff840054;border: solid;border-color: transparent;border-radius: 1.5rem; margin-top: 1.5rem;margin-left: 1.5rem;">
                    <img style=" margin-left: 6px;margin-top: 3px;width: 2.3rem;" src="../../../assets/Icon-House-white.svg">
                </div>
                <div style="margin-top: 31px;margin-left: 20px;font-family: 'Cabin', sans-serif;font-size: 14px;letter-spacing: 1.06px;color: #595959;">Bedrooms</div>
                <div  style="margin-top: 31px;margin-left: 20px;font-family: 'Cabin', sans-serif;font-size: 14px;letter-spacing: 1.06px;font-weight: bold;margin-left: auto;">4</div>
            </div>
    
            <div style="display: inline-flex;width: 28rem;">
                <div style="width: 4rem; height: 4rem; background-color: #ffc0cbc9;border: solid;border-color: transparent;border-radius: 1.5rem; margin-top: 1.5rem;margin-left: 1.5rem;">
                    <img style=" margin-left: 6px;margin-top: 3px;width: 2.3rem;" src="../../../assets/Icon-House-white.svg">
                </div>
                <div style="margin-top: 31px;margin-left: 20px;font-family: 'Cabin', sans-serif;font-size: 14px;letter-spacing: 1.06px;color: #595959;">Washrooms</div>
                <div  style="margin-top: 31px;margin-left: 20px;font-family: 'Cabin', sans-serif;font-size: 14px;letter-spacing: 1.06px;font-weight: bold;margin-left: auto;color: #595959;">3</div>
            </div>
            
    
            <div style="display: inline-flex;width: 28rem;">
                <div style="width: 4rem; height: 4rem; background-color: #1440a85c;border: solid;border-color: transparent;border-radius: 1.5rem; margin-top: 1.5rem;margin-left: 1.5rem;">
                    <img style=" margin-left: 6px;margin-top: 3px;width: 2.3rem;" src="../../../assets/Icon-House-white.svg">
                </div>
                <div style="margin-top: 31px;margin-left: 20px;font-family: 'Cabin', sans-serif;font-size: 14px;letter-spacing: 1.06px;color: #595959;">Area</div>
                <div  style="margin-top: 31px;margin-left: 20px;font-family: 'Cabin', sans-serif;font-size: 14px;letter-spacing: 1.06px;font-weight: bold;margin-left: auto;color: #595959;">2,200 Sq. ft</div>
            </div>
        </div>

        <div style="margin-top: 35px;margin-left: 28px;font-family: 'Cabin', sans-serif;font-size: 20px;letter-spacing: 1.06px;color: #595959;">
            What's Around?
        </div>

        <div style="display: inline-flex;margin-top: 2rem;">
            <div style="margin-left: 2.5rem;width: 15rem; height: 15rem; background-color:#dddee68a;border: solid;border-color: transparent;border-radius: 3rem;">
                <div style="width: 6rem; height: 6rem;background-color: #f4ccd3d6;border: solid;border-color: transparent;border-radius: 3rem;margin-left: 4rem;margin-top: 1.5rem;">
                    <img style="margin-left: 13px;margin-top: 9px;width: 30px;" src="../../../assets/Icon-transit.svg">
                </div>
                <div style="margin-top: 12px;margin-left: 45px;font-family: 'Cabin', sans-serif;font-size: 15px;letter-spacing: 1.06px;color: #595959;"> Transit </div>
                <div style="margin-top: 3px;margin-left: 50px;font-family: 'Cabin', sans-serif;font-size: 15px;letter-spacing: 1.06px;color: #595959; font-weight: bold;"> 500m </div>
            </div>
            <div style="margin-left: 2rem;width: 15rem; height: 15rem; background-color:#dddee68a;border: solid;border-color: transparent;border-radius: 3rem;">
                <div style="width: 6rem; height: 6rem;background-color: #515a8a8c;border: solid;border-color: transparent;border-radius: 3rem;margin-left: 4rem;margin-top: 1.5rem;">
                    <img style="margin-left: 13px;margin-top: 9px;width: 30px;" src="../../../assets/Icon-school.svg">
                </div>
                <div style="margin-top: 12px;margin-left: 49px;font-family: 'Cabin', sans-serif;font-size: 15px;letter-spacing: 1.06px;color: #595959;"> School </div>
                <div style="margin-top: 3px;margin-left: 50px;font-family: 'Cabin', sans-serif;font-size: 15px;letter-spacing: 1.06px;color: #595959; font-weight: bold;"> 1.2km </div>
            </div>
        </div>

        <div style="display: inline-flex;margin-top: 2rem;">
            <div style="margin-left: 2.5rem;width: 15rem; height: 15rem; background-color:#dddee68a;border: solid;border-color: transparent;border-radius: 3rem;">
                <div style="width: 6rem; height: 6rem;background-color: #79907994;border: solid;border-color: transparent;border-radius: 3rem;margin-left: 4rem;margin-top: 1.5rem;">
                    <img style="margin-left: 13px;margin-top: 13px;width: 30px;" src="../../../assets/Icon-grocery.svg">
                </div>
                <div style="margin-top: 12px;margin-left: 45px;font-family: 'Cabin', sans-serif;font-size: 15px;letter-spacing: 1.06px;color: #595959;"> Grocery </div>
                <div style="margin-top: 3px;margin-left: 54px;font-family: 'Cabin', sans-serif;font-size: 15px;letter-spacing: 1.06px;color: #595959; font-weight: bold;"> 2km </div>
            </div>
            <div style="margin-left: 2rem;width: 15rem; height: 15rem; background-color:#dddee68a;border: solid;border-color: transparent;border-radius: 3rem;">
                <div style="width: 6rem; height: 6rem;background-color: #79aac799;border: solid;border-color: transparent;border-radius: 3rem;margin-left: 4rem;margin-top: 1.5rem;">
                    <img style="margin-left: 13px;margin-top: 15px;width: 30px;" src="../../../assets/Icon-park.svg">
                </div>
                <div style="margin-top: 12px;margin-left: 54px;font-family: 'Cabin', sans-serif;font-size: 15px;letter-spacing: 1.06px;color: #595959;"> Park </div>
                <div style="margin-top: 3px;margin-left: 50px;font-family: 'Cabin', sans-serif;font-size: 15px;letter-spacing: 1.06px;color: #595959; font-weight: bold;"> 600m </div>
            </div>
        </div>
    
    </div>
</div>