.house > .div {
    display: block;
}

.details::-webkit-scrollbar { width: 0 !important }


.B1 {
    font-family: Avenir-Book; 
    font-size: 12px; color: #595959; 
    letter-spacing: 1.06px; 
    line-height: 20px;
  }
  
  .H2 {
    font-family: Avenir-Heavy; 
    font-size: 23px; 
    color: #494C7F; 
    letter-spacing: -0.36px; 
    line-height: 40px;
    font-weight: bold;
  }
  
  .H3 {
  opacity: 0.61; 
  font-family: Avenir-Book; 
  font-size: 16px; color:
   #595959; 
   letter-spacing: 3.56px; 
   text-align: center; 
   line-height: 32px; 
  }