<div style="width: 37.5rem; height: 81.2rem; background-color: #e9e7e4ad; overflow: hidden; z-index: -1; background-image: url('../../../assets/map_brokers.JPG');">
    <div style="width: 5.5rem; height: 5.5rem; background-color:  #f4b6c0; border: solid;border-color: transparent;border-radius: 3rem;margin-left: 7rem;margin-top: 7rem;">
        <img src="../../../assets/Icon-House-white.svg" style="margin-left: 0.7rem;width: 3.5rem;margin-top: 0.2rem;">
    </div>

    <div style="width: 5.5rem; height: 5.5rem; background-color:  #f4b6c0; border: solid;border-color: transparent;border-radius: 3rem;margin-left: 24rem;margin-top: -2rem;">
        <img src="../../../assets/Icon-House-white.svg" style="margin-left: 0.7rem;width: 3.5rem;margin-top: 0.2rem;">
    </div>

    <div style="width: 5.5rem; height: 5.5rem; background-color:  #f4b6c0; border: solid;border-color: transparent;border-radius: 3rem;margin-left: 4rem;margin-top: 7rem;">
        <img src="../../../assets/Icon-House-white.svg" style="margin-left: 0.7rem;width: 3.5rem;margin-top: 0.2rem;">
    </div>

    <div style="width: 5.5rem; height: 5.5rem; background-color:  #f4b6c0; border: solid;border-color: transparent;border-radius: 3rem;margin-left: 18rem;margin-top: -5.5rem;">
        <img src="../../../assets/Icon-House-white.svg" style="margin-left: 0.7rem;width: 3.5rem;margin-top: 0.2rem;">
    </div>

    <div style="width: 5.5rem; height: 5.5rem; background-color:  #f4b6c0; border: solid;border-color: transparent;border-radius: 3rem;margin-left: 9rem;margin-top: 6rem;">
        <img src="../../../assets/Icon-House-white.svg" style="margin-left: 0.7rem;width: 3.5rem;margin-top: 0.2rem;">
    </div>

    <div style="width: 5.5rem; height: 5.5rem; background-color:  #f4b6c0; border: solid;border-color: transparent;border-radius: 3rem;margin-left: 27rem;margin-top: -5.5rem;">
        <img src="../../../assets/Icon-House-white.svg" style="margin-left: 0.7rem;width: 3.5rem;margin-top: 0.2rem;">
    </div>

    <div style="width: 5.5rem; height: 5.5rem; background-color:  #f4b6c0; border: solid;border-color: transparent;border-radius: 3rem;margin-left: 5rem;margin-top: 7rem;">
        <img src="../../../assets/Icon-House-white.svg" style="margin-left: 0.7rem;width: 3.5rem;margin-top: 0.2rem;">
    </div>

    <div style="width: 5.5rem; height: 5.5rem; background-color:  #f4b6c0; border: solid;border-color: transparent;border-radius: 3rem;margin-left: 28rem;margin-top: -2.5rem;">
        <img src="../../../assets/Icon-House-white.svg" style="margin-left: 0.7rem;width: 3.5rem;margin-top: 0.2rem;">
    </div>

    <div style="width: 5.5rem; height: 5.5rem; background-color:  #f4b6c0; border: solid;border-color: transparent;border-radius: 3rem;margin-left: 3rem;margin-top: 10rem;">
        <img src="../../../assets/Icon-House-white.svg" style="margin-left: 0.7rem;width: 3.5rem;margin-top: 0.2rem;">
    </div>

    <div (click)="openHouse()" style="width: 5.5rem; height: 5.5rem; background-color:  #f4b6c0; border: solid;border-color: transparent;border-radius: 3rem;margin-left: 22rem;margin-top: -8.5rem;">
        <img src="../../../assets/Icon-House-white.svg" style="margin-left: 0.7rem;width: 3.5rem;margin-top: 0.2rem;">
    </div>

    <div style="width: 31rem; height: 5.5rem; background-color:  #635d86;border: solid;border-color: transparent;border-radius: 4rem; z-index: -1; display: flex; margin-left: 3rem;margin-top: 5.5rem;">
        <img src="../../../assets/Icon-House-white.svg" style="margin-left: 1rem;width: 3rem;margin-top: -0.4rem; margin-right: 1rem;">
        <div style="color: white; margin-top: 1.55rem; font-family: Avenir-Book; letter-spacing: 1.06px;font-size: 14px;margin-left: 25px;">Homes in your affordability</div>
        <!-- <img src="../../../assets/Icon-.svg" style="margin-left: 1rem;width: 3rem;margin-top: -0.4rem; margin-right: 1rem;"> -->
    </div>
</div>
<div (click)="closeHouse()" id="bakgroundOpac" style="width: 37.5rem; height: 40rem; background-color: #989595; opacity: 35%; z-index: 90;margin-top: -82rem; display: none;"></div>
<div id="house" class="house" style="width: 37.5rem; height: 47rem;position: absolute; background-color: white;z-index: 100; margin-top: -5rem;border: solid;border-color: transparent;border-radius: 2.75rem; display: none;"> 
    <div (click)="closeHouse()" style="width: 3rem; height: 0.75rem; background-color: #989595;border: solid;border-color: transparent;border-radius: 1rem;margin-left: 16rem;margin-top: 0.5rem;"></div>
    <br>
    <div style="margin-left: 2rem;">
        <div style="font-family: Avenir-Book;font-size: 20px;letter-spacing: 1.06px;color: #493b9e;">Aurora, Ontario</div>
        <div style="font-family: Avenir-Book;font-size: 16px;letter-spacing: 1.06px;color: #595959;">21 Avondale Ave</div>
        <div style="font-family: Avenir-Book;font-size: 22px;letter-spacing: 1.06px; color: #84ADAE ;line-height: 35px;">$1,175,000</div>
    </div>
    <div style="width: 32rem; height: 25rem; background-color:#dddee68a;border: solid;border-color: transparent;border-radius: 3rem; margin-left: 2.5rem;margin-top: 2rem;">
        <div style="width: 6rem; height: 3.25rem; background-color: white;border: solid;border-color: transparent;border-radius: 3rem; margin-top: 2rem;margin-left: -2.5rem;">
            <img style="margin-left: 25px; width: 2rem; padding-top: 4px;" src="../../../assets/Icon-heart.svg">
        </div>

        <div style="display: inline-flex;width: 28rem;">
            <div style="width: 4rem; height: 4rem; background-color: #ffceac;border: solid;border-color: transparent;border-radius: 1.5rem; margin-top: 1.5rem;margin-left: 1.5rem;">
                <img style=" margin-left: 6px;margin-top: 3px;width: 2.3rem;padding-top: 5px;" src="../../../assets/Icon-bedroom.svg">
            </div>
            <div style="margin-top: 31px;margin-left: 20px;font-family: Avenir-Book;font-size: 14px;letter-spacing: 1.06px;color: #595959;">Bedrooms</div>
            <div  style="margin-top: 31px;margin-left: 20px;font-family: Avenir-Book;font-size: 14px;letter-spacing: 1.06px;font-weight: bold;margin-left: auto;">4</div>
        </div>

        <div style="display: inline-flex;width: 28rem;">
            <div style="width: 4rem; height: 4rem; background-color: #ffb6b6;border: solid;border-color: transparent;border-radius: 1.5rem; margin-top: 1.5rem;margin-left: 1.5rem;">
                <img style=" margin-left: 6px;margin-top: 3px;width: 2.3rem; padding-top: 5px;" src="../../../assets/Icon-washroom.svg">
            </div>
            <div style="margin-top: 31px;margin-left: 20px;font-family: Avenir-Book;font-size: 14px;letter-spacing: 1.06px;color: #595959;">Washrooms</div>
            <div  style="margin-top: 31px;margin-left: 20px;font-family: Avenir-Book;font-size: 14px;letter-spacing: 1.06px;font-weight: bold;margin-left: auto;color: #595959;">3</div>
        </div>
        

        <div style="display: inline-flex;width: 28rem;">
            <div style="width: 4rem; height: 4rem; background-color: #9db8e9;border: solid;border-color: transparent;border-radius: 1.5rem; margin-top: 1.5rem;margin-left: 1.5rem;">
                <img style=" margin-left: 6.5px;margin-top: 3px;width: 2.1rem; padding-top: 3px;" src="../../../assets/Icon-area.svg">
            </div>
            <div style="margin-top: 31px;margin-left: 20px;font-family: Avenir-Book;font-size: 14px;letter-spacing: 1.06px;color: #595959;">Area</div>
            <div  style="margin-top: 31px;margin-left: 20px;font-family: Avenir-Book;font-size: 14px;letter-spacing: 1.06px;font-weight: bold;margin-left: auto;color: #595959;">2,200 Sq. ft</div>
        </div>
    </div>

    <div (click)="openDetails()" style="width: 12rem;height: 4rem;border: solid;border-color: transparent;border-radius: 1.5rem;background-color: #84ADAE;text-align-last: center;padding-top: 0.75rem;color: white;font-family: Avenir-Book;font-size: 14px;letter-spacing: 1.06px;margin-left: 12rem;margin-top: 1.75rem;" >View Details</div>
</div>

<div id="details" class="details" style="width: 37.5rem; height: 125rem; background-color: white;z-index: 200; display: none; position: absolute; margin-top: -40rem; border-color: transparent;border-radius: 1.5rem;">
    <div (click)="closeDetails()" style="position: absolute; z-index: 201; width: 3rem; height: 0.75rem; background-color: #989595;border: solid;border-color: transparent;border-radius: 1rem;margin-left: 16rem;margin-top: 1.5rem;"></div>

    <div style="width: 37.5rem; height: 33rem; z-index:200; margin-top: 0.5rem; margin-left: -0.25rem;">
        <img style="width: 100%; height: 100%; border: solid;border-color: transparent;border-radius: 4rem;" src="../../../assets/house_1_1.jpg">
    </div>
    <div style="width: 37.5rem; height: 50rem; z-index: 201; background-color: white; position: absolute; margin-top: -5rem;">
       <div style="display: inline-flex;">
        <div style="margin-left: 2rem; margin-top: 2rem;">
            <div style="font-family: Avenir-Book;font-size: 20px;letter-spacing: 1.06px;color: #493b9e;">Aurora, Ontario</div>
            <div style="font-family: Avenir-Book;font-size: 16px;letter-spacing: 1.06px;color: #595959;">21 Avondale Ave</div>
            <div style="font-family: Avenir-Book;font-size: 22px;letter-spacing: 1.06px; color: #84ADAE ;line-height: 35px;">$1,175,000</div>
        </div>
        <div (click)="openMenu()" style="border-color: transparent;border-radius: 3.5rem;background-color: #84ADAE; width: 45px; height: 45px;margin-top: 25px; margin-left: 145px;">
            <img style="margin-left: 9px;margin-top: 9px;" src="../../../assets/Icon-menu.svg"></div>
       </div>

       <div id="menu" style="z-index: 100; position: absolute; display: none;">
        <div style="border-color: transparent;border-radius: 3.5rem;background-color: #4c4c4c; width: 40px; height: 40px;margin-top: -25px;margin-left: 312px;">
            <img style="margin-left: 11px;margin-top: 7px;width: 19px;" src="../../../assets/Icon-bot.svg">
        </div>
        <div style="border-color: transparent;border-radius: 3.5rem;background-color: #4c4c4c; width: 40px; height: 40px;margin-top: 5px;margin-left: 312px;">
            <img style="margin-left: 11.5px;margin-top: 9px;width: 19px;" src="../../../assets/Icon-calendar.svg">
        </div>
        <div style="border-color: transparent;border-radius: 3.5rem;background-color: #4c4c4c; width: 40px; height: 40px;margin-top: 5px;margin-left: 312px;">
            <img style="margin-left: 11.5px;margin-top: 11px;width: 17px;" src="../../../assets/Icon-chat.svg">
        </div>
        <div style="border-color: transparent;border-radius: 3.5rem;background-color: #4c4c4c; width: 40px; height: 40px;margin-top: 5px;margin-left: 312px;">
            <img style="margin-left: 11px;margin-top: 9px;width: 19px;" src="../../../assets/Icon-phone.svg">
        </div>
        <div style="border-color: transparent;border-radius: 3.5rem;background-color: #4c4c4c; width: 40px; height: 40px;margin-top: 5px;margin-left: 312px;">
            <img style="margin-left: 11px;margin-top: 12px;width: 22px;" src="../../../assets/Icon-email.svg">
        </div>
        <div style="border-color: transparent;border-radius: 3.5rem;background-color: #4c4c4c; width: 40px; height: 40px;margin-top: 5px;margin-left: 312px;">
            <img style="margin-left: 11px;margin-top: 12px;width: 22px;" src="../../../assets/Icon-video.svg">
        </div>
       </div>
        <div style="font-family: Avenir-Book;font-size: 16px;letter-spacing: 1.06px;color: #595959;padding-left: 2rem; padding-top: 1rem;">New Aurora home with lake views throghout. Brand new appliances with 
        modern eat-in-kitchen. Recently renovated with game countertops and master bath with rainforest shower head w/2 sinks.</div>

        <div style="width: 32rem; height: 25rem; background-color:#dddee68a;border: solid;border-color: transparent;border-radius: 3rem; margin-left: 2.5rem;margin-top: 2rem;">
            <div style="width: 6rem; height: 3.25rem; background-color: white;border: solid;border-color: transparent;border-radius: 3rem; margin-top: 2rem;margin-left: -2.5rem;">
                <img style="margin-left: 25px; width: 2rem; padding-top: 4px;" src="../../../assets/Icon-heart.svg">
            </div>
    
            <div style="display: inline-flex;width: 28rem;">
                <div style="width: 4rem; height: 4rem; background-color: #ffceac;border: solid;border-color: transparent;border-radius: 1.5rem; margin-top: 1.5rem;margin-left: 1.5rem;">
                    <img style=" margin-left: 6px;margin-top: 3px;width: 2.3rem;padding-top: 5px;" src="../../../assets/Icon-bedroom.svg">
                </div>
                <div style="margin-top: 31px;margin-left: 20px;font-family: Avenir-Book;font-size: 14px;letter-spacing: 1.06px;color: #595959;">Bedrooms</div>
                <div  style="margin-top: 31px;margin-left: 20px;font-family: Avenir-Book;font-size: 14px;letter-spacing: 1.06px;font-weight: bold;margin-left: auto;">4</div>
            </div>
    
            <div style="display: inline-flex;width: 28rem;">
                <div style="width: 4rem; height: 4rem; background-color: #ffb6b6;border: solid;border-color: transparent;border-radius: 1.5rem; margin-top: 1.5rem;margin-left: 1.5rem;">
                    <img style=" margin-left: 6px;margin-top: 3px;width: 2.3rem; padding-top: 5px;" src="../../../assets/Icon-washroom.svg">
                </div>
                <div style="margin-top: 31px;margin-left: 20px;font-family: Avenir-Book;font-size: 14px;letter-spacing: 1.06px;color: #595959;">Washrooms</div>
                <div  style="margin-top: 31px;margin-left: 20px;font-family: Avenir-Book;font-size: 14px;letter-spacing: 1.06px;font-weight: bold;margin-left: auto;color: #595959;">3</div>
            </div>
            
    
            <div style="display: inline-flex;width: 28rem;">
                <div style="width: 4rem; height: 4rem; background-color: #9db8e9;border: solid;border-color: transparent;border-radius: 1.5rem; margin-top: 1.5rem;margin-left: 1.5rem;">
                    <img style=" margin-left: 6.5px;margin-top: 3px;width: 2.1rem; padding-top: 3px;" src="../../../assets/Icon-area.svg">
                </div>
                <div style="margin-top: 31px;margin-left: 20px;font-family: Avenir-Book;font-size: 14px;letter-spacing: 1.06px;color: #595959;">Area</div>
                <div  style="margin-top: 31px;margin-left: 20px;font-family: Avenir-Book;font-size: 14px;letter-spacing: 1.06px;font-weight: bold;margin-left: auto;color: #595959;">2,200 Sq. ft</div>
            </div>
        </div>

        <div style="margin-top: 35px;margin-left: 28px;font-family: Avenir-Book;font-size: 20px;letter-spacing: 1.06px;color: #696c96;">
            What's Around?
        </div>

        <div style="display: inline-flex;margin-top: 2rem;">
            <div style="margin-left: 2.5rem;width: 15rem; height: 15rem; background-color:#dddee68a;border: solid;border-color: transparent;border-radius: 3rem;">
                <div style="width: 6rem; height: 6rem;background-color: #f9ebed;border: solid;border-color: transparent;border-radius: 3rem;margin-left: 4rem;margin-top: 1.5rem;">
                    <img style="margin-left: 13px;margin-top: 9px;width: 30px;" src="../../../assets/Icon-transit.svg">
                </div>
                <div style="margin-top: 12px;margin-left: 45px;font-family: Avenir-Book;font-size: 15px;letter-spacing: 1.06px;color: #595959;"> Transit </div>
                <div style="margin-top: 3px;margin-left: 50px;font-family: Avenir-Book;font-size: 15px;letter-spacing: 1.06px;color: #595959; font-weight: bold;"> 500m </div>
            </div>
            <div style="margin-left: 2rem;width: 15rem; height: 15rem; background-color:#dddee68a;border: solid;border-color: transparent;border-radius: 3rem;">
                <div style="width: 6rem; height: 6rem;background-color: #acaebb;border: solid;border-color: transparent;border-radius: 3rem;margin-left: 4rem;margin-top: 1.5rem;">
                    <img style="margin-left: 13px;margin-top: 9px;width: 30px;" src="../../../assets/Icon-school.svg">
                </div>
                <div style="margin-top: 12px;margin-left: 49px;font-family: Avenir-Book;font-size: 15px;letter-spacing: 1.06px;color: #595959;"> School </div>
                <div style="margin-top: 3px;margin-left: 50px;font-family: Avenir-Book;font-size: 15px;letter-spacing: 1.06px;color: #595959; font-weight: bold;"> 1.2km </div>
            </div>
        </div>

        <div style="display: inline-flex;margin-top: 2rem;">
            <div style="margin-left: 2.5rem;width: 15rem; height: 15rem; background-color:#dddee68a;border: solid;border-color: transparent;border-radius: 3rem;">
                <div style="width: 6rem; height: 6rem;background-color: #b7c4c5;border: solid;border-color: transparent;border-radius: 3rem;margin-left: 4rem;margin-top: 1.5rem;">
                    <img style="margin-left: 13px;margin-top: 13px;width: 30px;" src="../../../assets/Icon-grocery.svg">
                </div>
                <div style="margin-top: 12px;margin-left: 45px;font-family: Avenir-Book;font-size: 15px;letter-spacing: 1.06px;color: #595959;"> Grocery </div>
                <div style="margin-top: 3px;margin-left: 54px;font-family: Avenir-Book;font-size: 15px;letter-spacing: 1.06px;color: #595959; font-weight: bold;"> 2km </div>
            </div>
            <div style="margin-left: 2rem;width: 15rem; height: 15rem; background-color:#dddee68a;border: solid;border-color: transparent;border-radius: 3rem;">
                <div style="width: 6rem; height: 6rem;background-color: #b8cddb;border: solid;border-color: transparent;border-radius: 3rem;margin-left: 4rem;margin-top: 1.5rem;">
                    <img style="margin-left: 13px;margin-top: 15px;width: 30px;" src="../../../assets/Icon-park.svg">
                </div>
                <div style="margin-top: 12px;margin-left: 54px;font-family: Avenir-Book;font-size: 15px;letter-spacing: 1.06px;color: #595959;"> Park </div>
                <div style="margin-top: 3px;margin-left: 50px;font-family: Avenir-Book;font-size: 15px;letter-spacing: 1.06px;color: #595959; font-weight: bold;"> 600m </div>
            </div>
        </div>


        <div style="margin-top: 35px;margin-left: 28px;font-family: Avenir-Book;font-size: 20px;letter-spacing: 1.06px;color: #696c96;">
            Mortgage
        </div>

        <div style="width: 32rem; height: 43rem; background-color:#dddee68a;border: solid;border-color: transparent;border-radius: 3rem; margin-left: 2.5rem;margin-top: 2rem;">
            <div style="width: 6rem; height: 3.25rem; background-color: white;border: solid;border-color: transparent;border-radius: 3rem; margin-top: 2rem;margin-left: -2.5rem;">
                <img style="margin-left: 27px; width: 2rem; padding-top: 3px;" src="../../../assets/Icon-pencil.svg">
            </div>
    
            <div style="display: inline-flex;width: 28rem;">
                <div style="width: 4rem; height: 4rem; background-color: #ffceac;border: solid;border-color: transparent;border-radius: 1.5rem; margin-top: 1.5rem;margin-left: 1.5rem;">
                    <img style=" margin-left: 6px;margin-top: 3px;width: 2.3rem;" src="../../../assets/Icon-House-white.svg">
                </div>
                <div style="margin-top: 31px;margin-left: 20px;font-family: Avenir-Book;font-size: 14px;letter-spacing: 1.06px;color: #595959;">Mortgage Payment</div>
                <div  style="margin-top: 31px;margin-left: 20px;font-family: Avenir-Book;font-size: 14px;letter-spacing: 1.06px;font-weight: bold;margin-left: auto;">$2,500</div>
            </div>
    
            <div style="display: inline-flex;width: 28rem;">
                <div style="width: 4rem; height: 4rem; background-color: #ffb6b6;border: solid;border-color: transparent;border-radius: 1.5rem; margin-top: 1.5rem;margin-left: 1.5rem;">
                    <img style=" margin-left: 6px;margin-top: 3px;width: 2.3rem;" src="../../../assets/Icon-House-white.svg">
                </div>
                <div style="margin-top: 31px;margin-left: 20px;font-family: Avenir-Book;font-size: 14px;letter-spacing: 1.06px;color: #595959;">Other Housing Costs</div>
                <div  style="margin-top: 31px;margin-left: 20px;font-family: Avenir-Book;font-size: 14px;letter-spacing: 1.06px;font-weight: bold;margin-left: auto;color: #595959;">$875</div>
            </div>
            
    
            <div style="display: inline-flex;width: 28rem;">
                <div style="width: 4rem; height: 4rem; background-color: #9db8e9;border: solid;border-color: transparent;border-radius: 1.5rem; margin-top: 1.5rem;margin-left: 1.5rem;">
                    <img style=" margin-left: 6px;margin-top: 3px;width: 2.3rem;" src="../../../assets/Icon-House-white.svg">
                </div>
                <div style="margin-top: 31px;margin-left: 20px;font-family: Avenir-Book;font-size: 14px;letter-spacing: 1.06px;color: #595959;">Remaining Cash</div>
                <div  style="margin-top: 31px;margin-left: 20px;font-family: Avenir-Book;font-size: 14px;letter-spacing: 1.06px;font-weight: bold;margin-left: auto;color: #595959;">$330</div>
            </div>
            <br> <br>

            <div class="chart-wrapper">
                <canvas baseChart 
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                style="width: 245px!important;">
              </canvas>
            </div>

            <div class="row" style="display: flex; margin-top: 40px;">
                <div style="padding-top: 0.5rem;margin-left: 2rem;margin-right: 2rem;">
                    <img src="../../../assets/Icon-Bulb.svg" class="center-element" />
                  </div>
                <div class="B1" id="first-line-description" style="margin-right: 4rem;  margin-top: 0.5rem; margin-bottom: 1rem;">
                  Based on a mortgage loan of $590,007. 3 Year Fixed Rate Mortgage 2.14% over 30 years.
                </div>
            </div>
        </div>
    
    </div>
</div>