.center-element {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width:130px;
}

.space{
    height: 50px;
}

#broker-name{
    font-family: 'Cabin', sans-serif;
    color: #494C7F;
    font-size: 2rem;
}

#broker-company{
    font-family: 'Cabin', sans-serif;
    font-size: 1.2rem;
}

#rating:focus{
outline: none;
}

#description{
    font-family: 'Cabin', sans-serif;
    font-size: 1.2rem;
    opacity: 0.9;
    text-align: justify;
}

#subtitle{
    font-family: 'Cabin', sans-serif;
    font-size: 1.5rem;
    text-align: justify;
    color: #494C7F;
}

#first-broker{
    width: 70px;
    margin-left: 1rem;
}
