<div class="container">
    <div style="float: right;margin-right: -6rem;margin-left: 4rem;margin-top: -6rem;">
        <img src="../../../assets/Circle.png" class="center-element" />
    </div>
  <div class="row">
    <div class="col-sm-12">
        <div class="space">
        </div>
        <div>
          <img src="../../../assets/Home Image.png" class="center-element" />
        </div>
    </div>
  </div>
  <div class="space-between-title">   
  </div>
  <div class="row">
        <div id="app-title">
            PopBox
        </div>
  </div>
  <div class="row">
      <div class="app-description" id="first-line-description">
        Before we get you closer to your dream house and help you not spend 
      </div>
  </div>
  <div class="row">
      <div class="app-description" style="margin-left: 20px;">
        beyond your means, we need you to answer a few questions.
      </div>
  </div>
  <div class="space-between-title">
  </div>
  <div class="row">
    <div style="display: flex; vertical-align:middle;">
      <button id="remind-later-button" class="center-element" (click)="goBackToLogin()">Remind me later</button>
        <button id="get-started-button" class="center-element" (click)="goToQuestions()">Yes, please!</button>
    </div>
  </div>
  <div class="space-between-title">
  </div>
</div>
