<div id="container-div">
    <div>
        <i class="fas fa-filter" id="filter-icon"></i>
    </div>
    <div *ngFor="let lawyer of lawyers; let i=index">
        <div>
        <img class="lawyer-image" src={{lawyer.img}}  [ngStyle]="{'margin-top.px': lawyer.top, 'margin-left.px': lawyer.left}">
        </div>
    </div>
    <div style="width: 12.5rem; height: 12.5rem; background-color:  gray; opacity:0.3; border: solid;border-color: transparent;border-radius: 10rem; z-index: 0; position:relative; margin-left: 17rem;margin-top: 2.5rem;">
    </div>
    <div style="width: 5.5rem; height: 5.5rem; background-color:  #84adae; border: solid;border-color: transparent;border-radius: 3rem;margin-left: 20.3rem;margin-top: -8.5rem; z-index: 2;position:relative;">
        <img src="../../../assets/position-arrow.png" style="margin-left: 0.1rem;width: 3.5rem; width: 55px; margin-bottom:0.3;color:white ">
    </div>
    <div class="center-element" id="find-lawyers">
       <div style="opacity: 0.9;"> Real Estate Lawyers close to you</div>
    </div>
    

</div>